{extend name="public/basis" /}
{block name="seo"}
<title>{$title|default='页面标题'}</title>
<meta name="keywords" content="{$keywords|default='页面关键字'}">
<meta name="description" content="{$description|default='页面描述'}">
<link rel="stylesheet" type="text/css" href="__STATIC__/static/h-ui.admin/css/slide.css">
</head>
<body>
{/block}
{block name="content"}
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 
		<span class="c-gray en">&gt;</span> 商品管理 
		<span class="c-gray en">&gt;</span> 商品审核情况
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
			<i class="Hui-iconfont">&#xe68f;</i>
		</a>
	</nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l">
				</span>
				<span class="r">共有数据：<strong> {$count}</strong> 条</span>
			</div>
			<table class="table table-border table-bordered table-bg">
				<thead>
					<tr>
						<th scope="col" colspan="11">商品信息列表</th>
					</tr>
					<tr class="text-c">
						<th width="40">ID</th>
						<th width="150">商品名称</th>
						<th width="200">商品小图</th>
						<th width="100">商品分类</th>
						<th width="200">商品卖家</th>
						<th width="100">商品售价</th>
						<th width="200">商品详情</th>
						<th width="100">发布时间</th>
						<th width="100">审核情况</th>
						<th width="100">操作</th>
					</tr>
				</thead>
				<tbody>

				{volist name="goods" id="vo"}
					<tr class="text-c">
						<td>{$vo.id}</td>
						<td>{$vo.goods_title}</td>
						<td><img src="{$vo.goods_img}" style="width:150px;height:80px;" /></td>
						<td>
							{if ($vo.goods_category==4)}
							<i title="生活" class="lei">生活</i>
							{/if}
							{if ($vo.goods_category==3)}
							<i title="体育" class="lei">体育</i>
							{/if}
							{if ($vo.goods_category==2)}
							<i title="书籍" class="lei">书籍</i>
							{/if}
							{if ($vo.goods_category==1)}
							<i title="电子" class="lei">电子</i>
							{/if}
							{if ($vo.goods_category==0)}
							<i title="其他" class="lei">其他</i>
							{/if}
						</td>
						<td>{$vo.nick_name}</td>
						<td>{$vo.goods_prom_price} 元</td>
						<td>{$vo.goods_abstract}</td>
						<td>{:date("Y-m-d H:i:s",$vo.create_time)}</td>
						<td>
							{if($vo.is_audit==2)}
							<i title="审核不通过" class="lei" style="color:red;">审核不通过</i>
							{/if}
							{if($vo.is_audit==1)}
							<i title="审核通过" class="lei" style="color:blue;">审核通过</i>
							{/if}
							{if($vo.is_audit==0)}
							<i title="未审核" class="lei" style="color:#666666;">未审核</i>
							{/if}
						</td>
						<td class="td-manage">
							<a style="text-decoration:none" onClick="is_audit(this,{$vo.id},2,{$vo.is_audit})" href="javascript:;" title="审核不通过">
								<i class="Hui-iconfont">&#xe631;</i>
							</a>
							<a style="text-decoration:none" onClick="is_audit(this,{$vo.id},1,{$vo.is_audit})" href="javascript:;" title="审核通过">
								<i class="Hui-iconfont">&#xe615;</i>
							</a>
							{eq name="$Think.session.admin_info.permissions" value="0"}
							<a title="删除" href="javascript:;" onclick="goods_del(this,{$vo.id})" class="ml-5" style="text-decoration:none">
								<i class="Hui-iconfont">&#xe6e2;</i>
							</a>
							{/eq}
						</td>
					</tr>
				{/volist}
				</tbody>
			</table>
			<aside class="paging">
			    {$goods->render()}
		    </aside>
		</article>
		<footer class="footer">
			<p>感谢jQuery、layer、laypage、Validform、UEditor、My97DatePicker、iconfont、Datatables、WebUploaded、icheck、highcharts、bootstrap-Switch<br> Copyright &copy;2015 H-ui.admin v3.0 All Rights Reserved.<br> 本后台系统由<a href="http://www.h-ui.net/" target="_blank" title="H-ui前端框架">H-ui前端框架</a>提供前端技术支持</p>
		</footer>
	</div>
{/block}

{block name="javascript"}
<!--/请在上方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript">
/*商品-删除*/
function goods_del(obj,id) {
	layer.confirm('确认要删除吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		$.get("{:url('/admin/goods/deleteGoods')}",{id:id});
		
		$(obj).parents("tr").remove();

		layer.msg('已删除!',{icon:1,time:1000});
		setTimeout('window.location.replace(location.href)',1000);
	});
}

/*商品-审核*/
function is_audit(obj,id,how,is_audit){
	if(is_audit==how) {
		layer.msg('商品已经是该状态！',{icon:1,time:1000});
		return;
	}
	if (how==2) {
		layer.confirm('确定不通过审核？',function(index){
			//此处请求后台程序，下方是成功后的前台处理……
			$.get("{:url('/admin/goods/is_audit')}",{id:id,is_audit:2});
			layer.msg('商品审核不通过!',{icon:1,time:1000});
			setTimeout('window.location.replace(location.href)',1000);
		});
	} else {
		layer.confirm('确定通过审核？',function(index){
			//此处请求后台程序，下方是成功后的前台处理……
			$.get("{:url('/admin/goods/is_audit')}",{id:id,is_audit:1});
			layer.msg('商品审核通过!',{icon:1,time:1000});
			setTimeout('window.location.replace(location.href)',1000);
		});
	}
}
</script>
{/block}

</body>
</html>